*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #3c4bd7,#08385f);
    padding: 10px;

}
.todo-app{
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: rgb(234, 72, 72);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    background: rgb(229, 15, 15);
    padding: 12px 15px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    margin: 3px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;

}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('image/complete.jpg');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;  
}
ul li.checked{
    color: #cfb8b8;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('image/checked.jpg');
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #dff0f0;

}
#list-container li {
    list-style-type: none;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list-container li span {
    cursor: pointer;
    margin-left: 10px;
    color: rgb(219, 147, 147); 
}

button {
    margin-left: 5px;
}
